@font-face {
    font-family: "Cormorant Regular";
    src: url("../assets/Cormorant-Regular.woff2") format("woff2"); 
}

@font-face {
    font-family: "Cormorant Bold";
    src: url("../assets/Cormorant-Bold.woff2") format("woff2"); 
}

body {
    margin: 0 auto;
    background: rgba(192, 166, 136, 1);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

h2 {
    position: fixed;
    font-family: "Cormorant Regular";
    color: rgba(255, 254, 251, 1);
    text-shadow: 1px 15px 20px rgba(255, 254, 251, 1);
    font-size: 20pt;
    line-height: 23pt;
    margin-top: 43rem;
    margin-left: 108rem;
    text-align: center;
    justify-content: center;
    z-index: 4;
}

nav {
    position: fixed;
    font-family: "Cormorant Regular";
    color: rgba(43, 29, 13, 1);
    text-shadow: 1px 10px 20px rgba(43, 29, 13, 0.5);
    font-size: 20pt;
    margin-top: -8rem;
    margin-left: -33.5rem;
    transition: all 1s ease-in-out;
    z-index: 2;
}

ul, li {
    list-style: none;
    display: inline-block;
    margin-right: 2rem;
}

a {
    color: rgba(79, 59, 37, 1);
}

.hover:hover {
    font-family: "Cormorant Bold";
    text-shadow: 1px 20px 20px rgba(43, 29, 13, 0.5);
    font-size: 25pt;
    transition: all 0.4s ease-in-out;
}
  
p {
    position: absolute;
    font-family: "Cormorant Bold";
    color: rgba(255, 228, 197, 1);
    width: 47rem;
    font-size: 17pt;
    line-height: 2.4rem;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 4.5rem auto;
    padding-bottom: 5rem;
    transition: all 1s ease-in-out;
}
  
#holderion {
    width: 46rem;
    margin: 8rem auto;
}

#uislider {
    background: rgb(255,228,197);
    background: linear-gradient(90deg, rgba(255,228,197,1) 0%, rgba(34,22,9,1) 100%);
    margin-left: 2rem;
    border: 1px solid rgb(182, 169, 155);
}

.ui-slider .ui-slider-range {
    background: rgb(255,228,197);
    background: linear-gradient(90deg, rgba(255,228,197,1) 0%, rgba(34,22,9,1) 100%);
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: rgb(255,228,197);
    border: 1px solid rgb(182, 169, 155);
}

@media only screen and (max-width: 812px) { 
    h2 {
        font-size: 13pt;
        line-height: 16pt;
        margin-top: 34rem;
        margin-left: 21.5rem;
    }
    
    nav {
        font-size: 13pt;
        margin-top: -6.5rem;
        margin-left: -2.8rem;
    }

    ul, li {
        margin-right: 1rem;
        text-align: center;
        justify-content: justify;
    }

    .hover:hover {
        font-size: 16pt;
    }
        
    p {
        width: 16rem;
        font-size: 13pt;
        line-height: 17pt;
        margin-top: 2.5rem;
        margin-left: 1rem;
        padding-bottom: 2rem;
    }
        
    #holderion {
        width: 17rem;
        margin: 8rem auto;
    }    

    #uislider {
        margin-left: 0.5rem;
    }
}