@font-face {
    font-family: "Cormorant Light";
    src: url("../assets/Cormorant-Light.woff2") format("woff2"); 
}

@font-face {
    font-family: "Cormorant Regular";
    src: url("../assets/Cormorant-Regular.woff2") format("woff2"); 
}

@font-face {
    font-family: "Cormorant Medium";
    src: url("../assets/Cormorant-Medium.woff2") format("woff2"); 
}

@font-face {
    font-family: "Cormorant SemiBold";
    src: url("../assets/Cormorant-SemiBold.woff2") format("woff2"); 
}

@font-face {
    font-family: "Cormorant Bold";
    src: url("../assets/Cormorant-Bold.woff2") format("woff2"); 
}

body {
    margin: 0 auto;
    background-color: rgba(43, 29, 13, 1);
}

#goldcursor {
    width: 15%;
    position: absolute;
    pointer-events: none;
    top: -300rem;
    left: -60rem;
}

#img {
    position: absolute;
    width: 100%;
    display: block;
}

nav {
    font-family: "Cormorant Light";
    color: rgba(237, 198, 154, 1);
    text-shadow: 1px 1px 9px rgba(237, 198, 154, 1);
    font-size: 20pt;
    display: flex;
}

ul, li {
    list-style: none;
    display: inline-block;
    margin-right: 7rem;
    margin-top: 3rem;
}

#left {
    position: fixed;
    text-align: left;
    justify-content: left;
    width: 40rem;
    margin-left: 25rem;
}

#right {
    position: fixed;
    text-align: right;
    justify-content: right;
    width: 40rem;
    margin-left: 46rem;
}


.left {
    position: absolute;
    margin-left: 30rem;
}

.right {
    position: absolute;
    margin-left: 60rem;
}

a {
    color: rgba(237, 198, 154, 1);
}

.hover:hover {
    font-family: "Cormorant Regular";
    color: rgba(255, 254, 251, 1);
    text-shadow: 1px 1px 20px white;
    transition: all 0.4s ease-in-out;
}

h2 {
    position: absolute;
    font-family: "Cormorant Regular";
    color: rgba(255, 254, 251, 1);
    text-shadow: 1px 1px 15px white;
    font-size: 20pt;
    line-height: 23pt;
    margin-top: 3.5rem;
    margin-left: 55rem;
    text-align: center;
    justify-content: center;
}

p {
    font-family: "Cormorant SemiBold";
    color: rgba(237, 198, 154, 1);
    text-shadow: 2px 2px 15px rgba(237, 198, 154, 0.7);
    font-size: 16pt;
    line-height: 2.3rem;
    width: 45rem;
    margin: auto;
    margin-top: 10rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

br {
    line-height: 1.5rem;
}

.goldhover:hover {
    font-size: 12pt;
    line-height: 1.8rem;
    width: 34rem;
    margin: auto;
    margin-top: 13rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

@media only screen and (max-width: 812px) {  
    nav {
        font-size: 14pt;
    }

    #mobile-gradient{
        position: fixed;
        background: rgb(43,29,13);
        background: linear-gradient(180deg, rgba(43,29,13,1) 60%, rgba(43,29,13,0) 100%);
        width: 23.45rem;
        height: 10rem;
        z-index: 1;
    }

    ul {
        margin-top: 0.6rem;
        z-index: 2;    
    }

    #left {
        position: fixed;
        line-height: 0.7pt;
        text-align: left;
        justify-content: left;
        width: 5rem;
        margin-left: -0.5rem;
        z-index: 2;
    }
    
    #right {
        position: fixed;
        line-height: 0.7pt;
        text-align: right;
        justify-content: right;
        width: 16rem;
        margin-top: -0.1rem;
        margin-left: 10rem;
        z-index: 2;
    }

    h2 {
        position: fixed;
        font-size: 14pt;
        line-height: 15pt;
        margin-top:2.5rem;
        margin-left: 11.7rem;
        z-index: 2;
    }
    
    p {
        font-size: 12pt;
        line-height: 2rem;
        width: 16.5rem;
        margin-top: 9rem;
        margin-left: 3.6rem;
        padding-bottom: 4rem;
    }
    
    br {
        line-height: 1.5rem;
    }
    
    .goldhover:hover {
        font-size: 10pt;
        line-height: 0.9rem;
        width: 14rem;
        margin-top: 9rem;
        margin-left: 5rem;
    }
}