@font-face {
    font-family: "Cormorant Regular";
    src: url("../assets/Cormorant-Regular.woff2") format("woff2"); 
}

@font-face {
    font-family: "Cormorant Medium";
    src: url("../assets/Cormorant-Medium.woff2") format("woff2"); 
}

@font-face {
    font-family: "Cormorant Bold";
    src: url("../assets/Cormorant-Bold.woff2") format("woff2"); 
}

body {
    margin: 0 auto;
    background-color: white;
}

nav {
    position: absolute;
    font-family: "Cormorant Regular";
    color: rgba(101, 74, 43, 1);
    font-size: 20pt;
    display: flex;
    margin-top: -2rem;
    z-index: 1;
}

ul,li {
    list-style: none;
    line-height: 3.2rem;
}

a {
    color: rgba(101, 74, 43, 1);
}

.hover:hover {
    font-family: "Cormorant Bold";
    font-size: 25pt;
    transition: all 0.5s ease-in-out;
}

h2 {
    position: absolute;
    font-family: "Cormorant Regular";
    color: rgba(101, 74, 43, 1);
    font-size: 20pt;
    line-height: 23pt;
    margin-top: 51rem;
    margin-left: 108rem;
    text-align: center;
    justify-content: center;
    z-index: 2;
}

p {
    font-family: "Cormorant Bold";
    color: rgba(155, 136, 113, 1);
    width: 47rem;
    font-size: 17pt;
    line-height: 2.3rem;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 2rem auto;
}

br {
    line-height: 1.5rem;
}

.shoji {
    position: absolute;
	background: rgba(255, 251, 237, 0.5);
    border: 10pt solid rgba(101, 74, 43, 1);
    width: 60rem;
    height: 65rem;
    top: -30rem;
    left: -60rem;
}

@media only screen and (max-width: 812px) { 
    nav {
        font-size: 14pt;
    }
    
    ul {
        margin-top: -8.2rem;
        margin-left: -0.5rem;
        height: 10rem;
    }

    #left {
        position: relative;
        text-align: right;
        justify-content: right;
        width: 5rem;
    }
    
    #right {
        position: relative;
        text-align: left;
        justify-content: left;
        width: 5rem;
        margin-top: -6.4rem;
        margin-left: 14rem;
    }

    .hover:hover {
        font-size: 16pt;
    }
    
    h2 {
        font-size: 12pt;
        line-height: 14pt;
        margin-top: -9.8rem;
        margin-left: 11.2rem;
    }
    
    p {
        width: 15rem;
        font-size: 13pt;
        line-height: 1.5rem;
        margin: 12rem auto;
        padding-bottom: 22rem;
    }
    
    br {
        line-height: 1rem;
    }
    
    .shoji {
        display: none;
    }

    #shoji-mobile {
        position: fixed;
        background: rgba(255, 251, 237, 0.4);
        border: 4pt solid rgba(101, 74, 43, 1);
        width: 22.8rem;
        height: 10rem;
        margin-top: -132.5rem;
    }
}