@font-face {
    font-family: "Cormorant Regular";
    src: url("./assets/Cormorant-Regular.woff2") format("woff2"); 
}

@font-face {
    font-family: "Cormorant Medium";
    src: url("./assets/Cormorant-Medium.woff2") format("woff2"); 
}

@font-face {
    font-family: "Cormorant Bold Italic";
    src: url("./assets/Cormorant-BoldItalic.woff2") format("woff2"); 
}

body {
    margin: 0 auto;
    background-color: rgb(82, 65, 49);
}

.eaves {
    position: absolute;
    margin-top: 0;
    height: 21rem;
    width: 100%;
    background-color: rgb(138, 114, 92);
    box-shadow: 0px 270px 80px rgb(54, 44, 33, 0.9);
    z-index: 1;
}

nav {
    position: relative;
    text-align: center;
    justify-content: center;
    display: flex;
    z-index: 2;
}

h2 {
    position: absolute;
    font-family: "Cormorant Medium";
    color: white;
    text-shadow: 0px 0px 25px white;
    font-size: 20pt;
    line-height: 27pt;
    padding-top: 2rem;
}

ul {
    font-family: "Cormorant Medium";
    color: rgb(56, 43, 30);
    text-shadow: 1px 10px 30px rgb(78, 64, 48, 0.8);
    font-size: 20pt;
    list-style: none;
}

#top {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 48%;
    margin: 5.5rem 58rem auto 23rem;
}

#bottom {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 70%;
    margin: 5.5rem 60rem auto 13rem;
}

.hover:hover {
    color: white;
    text-shadow: 0px 0px 25px white;
    transition: all 0.4s ease-in-out;
}

a {
    color: rgb(56, 43, 30);
}

h1 {
    position: relative;
    font-family: "Cormorant Bold Italic";
    color: rgba(255, 255, 251, 0.2);
    font-size: 45pt;
    letter-spacing: 40pt;
    margin-top: 9rem;
    text-align: center;
    z-index: 2;
}

p {
    position: relative;
    font-family: "Cormorant Medium";
    color: rgba(255, 254, 251, 1);
    text-shadow: 0px 10px 30px rgba(255, 254, 251, 0.5);
    font-size: 20pt;
    line-height: 2.7rem;
    width: 47%;
    margin-top: 8rem;
    margin-left: 30rem;
    display: flex;
    text-align: center;
    justify-content: center;
    z-index: 2;
}

br {
     line-height: 2rem;
}

@media only screen and (max-width: 812px) {
    .eaves {
        height: 21rem;
    }
    
    h2 {
        font-size: 13pt;
        line-height: 20pt;
        padding-top: 1rem;
    }
    
    ul {
        font-size: 13pt;
    }
    
    #top {
        width: 33%;
        margin: 12rem auto auto 12rem;
    }
    
    #bottom {
        width: 45%;
        margin: 3rem 25rem auto 10rem;
    }
    
    h1 {
        font-size: 15pt;
        letter-spacing: 5pt;
        margin-top: 5rem;
        margin-left: 0.5rem;
    }
    
    p {
        font-size: 12pt;
        line-height: 16pt;
        width: 70%;
        margin-top: 4rem;
        margin-left: 3.8rem;
    }

    br {
        line-height: 0.9rem;
    }
}