@font-face {
    font-family: "Cormorant Regular";
    src: url("./assets/Cormorant-Regular.woff2") format("woff2"); 
}

@font-face {
    font-family: "Cormorant Bold";
    src: url("./assets/Cormorant-Bold.woff2") format("woff2"); 
}

body {
    margin: 0 auto;
    background-color: rgba(192, 166, 136, 1);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

nav {
    position: relative;
    font-family: "Cormorant Regular";
    color: rgba(43, 29, 13, 0.8);
    text-shadow: 20px 20px 20px rgba(83, 67, 49, 1);
    font-size: 20pt;
    margin-top: 1rem;
    z-index: 2;
}

ul, li {
    list-style: none;
    display: inline-block;
    margin-right: 3rem;
}

a {
    color: rgba(43, 29, 13, 0.8);
}

h2 {
    position: absolute;
    font-family: "Cormorant Regular";
    color: rgba(255, 254, 251, 1);
    text-shadow: 1px 15px 20px rgba(255, 254, 251, 1);
    font-size: 20pt;
    line-height: 27pt;
    padding-top: 45rem;
    padding-left: 109rem;
    z-index: 4;
}
  
p {
    font-family: "Cormorant Bold";
    font-size: 16pt;
    color: rgba(255, 228, 197, 1);
    text-shadow: 4px 4px 10px rgba(43, 29, 13, 0.8);
    line-height: 1.8rem;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: -6rem;
    transition: all 1s ease-in-out;
}
  
#holderion {
    width: 60rem;
    background: rgba(192, 166, 136, 1);
    margin: 10rem auto;
}
  
#idnumber {
    background-color: pink;
    background: none;
    background: transparent;
    text-align: center;
  }
  
#uislider .ui-widget-header {
    background: #f6a828 !important;
    opacity: 0.5;
}

@media only screen and (max-width: 50rem) {

}