@font-face {
    font-family: "Cormorant Regular";
    src: url("./assets/Cormorant-Regular.woff2") format("woff2"); 
}

@font-face {
    font-family: "Cormorant Bold";
    src: url("./assets/Cormorant-Bold.woff2") format("woff2"); 
}

body {
    margin: 0 auto;
    background-color: rgba(192, 166, 136, 1);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

nav {
    position: fixed;
    font-family: "Cormorant Regular";
    color: rgba(43, 29, 13, 1);
    text-shadow: 1px 10px 20px rgba(43, 29, 13, 0.5);
    font-size: 20pt;
    margin-top: -7rem;
    z-index: 2;
}

ul, li {
    list-style: none;
    display: inline-block;
    margin-right: 1.5rem;
}

a {
    color: rgba(43, 29, 13, 1);
}

.hover:hover {
    font-family: "Cormorant Bold";
    text-shadow: 1px 20px 20px rgba(43, 29, 13, 0.5);
    font-size: 25pt;
}

h2 {
    position: fixed;
    font-family: "Cormorant Regular";
    color: rgba(255, 254, 251, 1);
    text-shadow: 1px 15px 20px rgba(255, 254, 251, 1);
    font-size: 20pt;
    line-height: 24pt;
    margin-top: 41rem;
    margin-left: 108rem;
    text-align: center;
    justify-content: center;
    z-index: 4;
}
  
p {
    position: absolute;
    font-family: "Cormorant Bold";
    color: rgba(255, 228, 197, 1);
    text-shadow: 4px 4px 15px rgba(43, 29, 13, 0.6);
    width: 48rem;
    font-size: 17pt;
    line-height: 2.4rem;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 4rem;
    margin-left: 1rem;
    padding-bottom: 5rem;
    transition: all 1s ease-in-out;
}
  
#holderion {
    width: 50rem;
    background: rgb(255,228,197);
    background: linear-gradient(90deg, rgba(255,228,197,1) 0%, rgba(34,22,9,1) 100%);
    margin: 8rem auto;
}

@media only screen and (max-width: 812px) { 
    nav {
        font-size: 13pt;
        margin-top: -5rem;
    }

    ul, li {
        margin-right: 1rem;
        text-align: center;
        justify-content: center;
    }

    .hover:hover {
        font-size: 16pt;
    }

    h2 {
        font-size: 20pt;
        line-height: 24pt;
        margin-top: 47rem;
        margin-left: 108rem;
    }
        
    p {
        width: 18rem;
        font-size: 13pt;
        line-height: 17pt;
        margin-top: 3rem;
        margin-left: -1.5rem;
        padding-bottom: 2rem;
    }
        
    #holderion {
        width: 14rem;
        background: rgb(255,228,197);
        background: linear-gradient(90deg, rgba(255,228,197,1) 0%, rgba(34,22,9,1) 100%);
        margin: 6rem auto;
    }    
}