@font-face {
    font-family: "Cormorant Regular";
    src: url("./assets/Cormorant-Regular.woff2") format("woff2"); 
}

@font-face {
    font-family: "Cormorant Medium";
    src: url("./assets/Cormorant-Medium.woff2") format("woff2"); 
}

@font-face {
    font-family: "Cormorant Bold";
    src: url("./assets/Cormorant-Bold.woff2") format("woff2"); 
}

body {
    margin: 0 auto;
    background-color: rgba(43, 29, 13, 1);
}

nav {
    position: absolute;
    font-family: "Cormorant Regular";
    color: rgba(237, 198, 154, 1);
    text-shadow: 1px 1px 15px rgba(237, 198, 154, 1);
    font-size: 20pt;
    display: flex;
    margin-top: -7rem;
}

ul, li {
    list-style: none;
    display: inline-block;
    margin-right: 5rem;
}

a {
    color: rgba(155, 136, 113, 1);
}

.hover:hover {
    color: rgba(255, 254, 251, 1);
    text-shadow: 1px 1px 15px white;
}

.left {
    margin-left: 30rem;
}

.right {
    margin-left: 60rem;
}

h2 {
    font-family: "Cormorant Regular";
    color: rgba(255, 254, 251, 1);
    text-shadow: 1px 1px 15px white;
    font-size: 20pt;
    line-height: 25pt;
    text-align: center;
    justify-content: center;
    margin-top: 3rem;
}

p {
    font-family: "Cormorant Bold";
    color: rgba(237, 198, 154, 1);
    text-shadow: 2px 2px 20px rgba(237, 198, 154, 0.5);
    font-size: 15pt;
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 2.4rem;
    margin: 6rem 29rem auto 29rem;
}