@font-face {
    font-family: "Cormorant Regular";
    src: url("./assets/Cormorant-Regular.woff2") format("woff2"); 
}

@font-face {
    font-family: "Cormorant Medium";
    src: url("./assets/Cormorant-Medium.woff2") format("woff2"); 
}

@font-face {
    font-family: "Cormorant SemiBold";
    src: url("./assets/Cormorant-SemiBold.woff2") format("woff2"); 
}

@font-face {
    font-family: "Cormorant Bold";
    src: url("./assets/Cormorant-Bold.woff2") format("woff2"); 
}

body {
    margin: 0 auto;
    background-color: rgba(43, 29, 13, 1);
}

nav {
    font-family: "Cormorant Regular";
    color: rgba(237, 198, 154, 1);
    text-shadow: 1px 2px 15px rgba(237, 198, 154, 1);
    font-size: 20pt;
    display: flex;
}

ul, li {
    list-style: none;
    display: inline-block;
    margin-right: 4.5rem;
    margin-top: 3.4rem;
}

a {
    color: rgba(155, 136, 113, 1);
}

.hover:hover {
    color: rgba(255, 254, 251, 1);
    text-shadow: 1px 1px 15px white;
}

.left {
    position: absolute;
    margin-left: 30rem;
}

.right {
    position: absolute;
    margin-left: 60rem;
}

h2 {
    position: absolute;
    font-family: "Cormorant Regular";
    color: rgba(255, 254, 251, 1);
    text-shadow: 1px 1px 15px white;
    font-size: 20pt;
    line-height: 23pt;
    margin-top: 3.5rem;
    margin-left: 55rem;
    text-align: center;
    justify-content: center;
}

p {
    font-family: "Cormorant SemiBold";
    color: rgba(237, 198, 154, 1);
    text-shadow: 2px 2px 15px rgba(237, 198, 154, 0.7);
    font-size: 16pt;
    line-height: 2.3rem;
    width: 45rem;
    margin-top: 10rem;
    margin-left: 33rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

br {
    line-height: 1.5rem;
}

.goldhover:hover {
    font-size: 12pt;
    line-height: 1.8rem;
    width: 36rem;
    margin-top: 15rem;
    margin-left: 38rem;
}

@media only screen and (max-width: 812px) {  
    nav {
        font-size: 15pt;
    }
    
    ul, li {
        margin-top: 2rem;
        width: 30rem;
        text-align: center;
    }

    .left {
        margin-left: -10em;
        position: fixed;
    }
    
    .right {
        margin-left: 1rem;
        position: fixed;
    }
    
    h2 {
        position: fixed;
        font-size: 13pt;
        line-height: 16pt;
        margin-top: 3.5rem;
        margin-left: 11.7rem;
    }
    
    p {
        font-size: 12pt;
        line-height: 2.3rem;
        width: 18rem;
        margin-top: 9rem;
        margin-left: 3rem;
    }
    
    br {
        line-height: 1.5rem;
    }
    
    .goldhover:hover {
        font-size: 12pt;
        line-height: 1.8rem;
        width: 36rem;
        margin-top: 15rem;
        margin-left: 38rem;
    }
}