@font-face {
    font-family: "Cormorant Regular";
    src: url("./assets/Cormorant-Regular.woff2") format("woff2"); 
}

@font-face {
    font-family: "Cormorant Medium";
    src: url("./assets/Cormorant-Medium.woff2") format("woff2"); 
}

@font-face {
    font-family: "Cormorant Bold";
    src: url("./assets/Cormorant-Bold.woff2") format("woff2"); 
}

body {
    margin: 0 auto;
    background-color: white;
}

nav {
    position: absolute;
    font-family: "Cormorant Regular";
    color: rgba(155, 136, 113, 1);
    font-size: 20pt;
    display: flex;
    margin-top: -3rem;
    z-index: 3;
}

ul,li {
    list-style: none;
    line-height: 3rem;
}

a {
    color: rgba(155, 136, 113, 1);
}

.hover:hover {
    font-family: "Cormorant Bold";
    font-size: 25pt;
}

h2 {
    position: absolute;
    font-family: "Cormorant Regular";
    color: rgba(101, 74, 43, 1);
    font-size: 20pt;
    line-height: 23pt;
    margin-top: 50.5rem;
    margin-left: 108rem;
    text-align: center;
    justify-content: center;
    z-index: 4;
}

p {
    font-family: "Cormorant Bold";
    color: rgba(155, 136, 113, 1);
    width: 47rem;
    font-size: 17pt;
    line-height: 2.3rem;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 3rem auto;
}

br {
    line-height: 1.5rem;
}

.shoji {
    position: absolute;
	background: rgba(255, 251, 237, 0.4);
    border: 10pt solid rgba(101, 74, 43, 1);
    width: 60rem;
    height: 65rem;
    top: -30rem;
    left: -60rem;
}

@media only screen and (max-width: 812px) { 
    nav {
        font-size: 14pt;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    
    ul, li {
        line-height: 2rem;
        display: inline-block;
        margin-top: -4rem;
        margin-right: 2rem;
    }

    .hover:hover {
        font-size: 16pt;
    }
    
    h2 {
        font-size: 12pt;
        line-height: 14pt;
        margin-top: -8rem;
        margin-left: 11.2rem;
    }
    
    p {
        width: 16rem;
        font-size: 13pt;
        line-height: 1.5rem;
        margin: 10rem auto;
    }
    
    br {
        line-height: 0.5rem;
    }
    
    .shoji {
        position: absolute;
        background: rgba(255, 251, 237, 0.4);
        border: 5pt solid rgba(101, 74, 43, 1);
        width: 20rem;
        height: 25rem;
        top: -30rem;
        left: -60rem;
    }
}