@font-face {
    font-family: "Cormorant Regular";
    src: url("./assets/Cormorant-Regular.woff2") format("woff2"); 
}

@font-face {
    font-family: "Cormorant Medium";
    src: url("./assets/Cormorant-Medium.woff2") format("woff2"); 
}

@font-face {
    font-family: "Cormorant Bold";
    src: url("./assets/Cormorant-Bold.woff2") format("woff2"); 
}

body {
    margin: 0 auto;
    background-color: white;
}

nav {
    position: absolute;
    font-family: "Cormorant Regular";
    color: rgba(155, 136, 113, 1);
    font-size: 20pt;
    display: flex;
    margin-top: -5rem;
    z-index: 3;
}

ul,li {
    list-style: none;
    line-height: 3rem;
}

a {
    color: rgba(155, 136, 113, 1);
}

h2 {
    position: absolute;
    font-family: "Cormorant Regular";
    color: rgba(101, 74, 43, 1);
    font-size: 20pt;
    line-height: 25pt;
    padding-top: 32rem;
    padding-left: 109rem;
    text-align: center;
    z-index: 4;
}

p {
    font-family: "Cormorant Bold";
    color: rgba(155, 136, 113, 1);
    font-size: 15pt;
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 2.4rem;
    margin: 5rem 31rem auto 31rem;
}

#shoji {
	width: 400px;
	height: 200px;
	position: absolute;
    display: block;
	background: rgba(255, 251, 237, 0.62);
    outline: 5px solid rgba(101, 74, 43, 1);
	opacity: 0.5; 
	filter: blur(1.5px);
}