@font-face {
    font-family: "Cormorant Medium Italic";
    src: url("./assets/Cormorant-MediumItalic.woff2") format("woff2"); 
}

@font-face {
    font-family: "Cormorant Regular";
    src: url("./assets/Cormorant-Regular.woff2") format("woff2"); 
}

body {
    margin: 0 auto;
    background-color: rgba(43, 29, 13, 1);
}

#rectangle {
    height: 226pt;
    width: 100%;
    background-color: rgba(79, 68, 56, 1);
    box-shadow: 0px 250px 80px black;
    z-index: 1;
}

h1 {
    font-family: "Cormorant Medium Italic";
    font-style: italic;
    position: absolute;
    font-size: 36pt;
    color: rgba(255, 254, 251, 1);
    text-shadow: 1px 1px 3px rgba(43, 29, 13, 1), 5px 5px 10px rgba(43, 29, 13, 1);
    display: flex;
    margin: 14rem auto auto 56rem;
    letter-spacing: 10pt;
}

.texts {
    font-family: "Cormorant Regular";
    display: flex;
    margin: 11rem 14rem auto 14rem;
    color: rgba(255, 254, 251, 1);
    text-shadow: 1px 1px 30px rgba(255, 254, 251, 1), 5px 5px 30px rgba(255, 254, 251, 1);
    z-index: 2;
}

ul {
    font-size: 24pt;
    list-style: none;
    line-height: 65pt;
    margin: 0 auto;
}

li {
    display: flex;
}

p {
    font-size: 16pt;
    font-weight: medium;
    display: flex;
    text-align: center;
    margin-top: 0;
    margin-left: 25rem;
    line-height: 3rem;
}

@media only screen and (max-width: 50rem) {

}