@font-face {
    font-family: "Cormorant Regular";
    src: url("./assets/Cormorant-Regular.woff2") format("woff2"); 
}

body {
    margin: 0 auto;
    background: rgb(205,255,99);
    background: linear-gradient(0deg, rgba(205,255,99,1) 0%, rgba(255,246,222,1) 80%);
}

.eaves {
    height: 30rem;
    width: 100%;
    background-color: rgba(79, 68, 56, 1);
    box-shadow: 0px 250px 80px black;
    z-index: 1;
}

.floor {
    position: absolute;
    height: 25rem;
    width: 100%;
    background: rgb(43,29,13);
    background: linear-gradient(0deg, rgba(43,29,13,1) 0%, rgba(101,74,43,0.75) 50%, rgba(201,177,149,0.5032387955182073) 100%);
    z-index: 1;
}

nav {
    position: absolute;
    font-family: "Cormorant Regular";
    font-size: 18pt;
    display: flex;
    margin-top: 47rem;
    align-items: bottom;
    color: rgba(255, 254, 251, 1);
    text-shadow: 1px 1px 10px rgba(255, 254, 251, 1), 5px 5px 10px rgba(255, 254, 251, 1);
    z-index: 2;
}

ul {
    list-style: none;
    line-height: 30pt;
}

a {
    color: rgba(255, 254, 251, 1);
}

p {
    width: 50rem;
    color: rgba(43, 29, 13, 1);
    font-size: 16pt;
    font-weight: medium;
    display: flex;
    text-align: center;
    justify-items: center;
    margin: 7rem auto;
    line-height: 3rem;
    z-index: 3;
}

@media only screen and (max-width: 50rem) {

}