@font-face {
    font-family: "Cormorant Light";
    src: url("./assets/Cormorant-light.woff2") format("woff2"); 
}

@font-face {
    font-family: "Cormorant Regular";
    src: url("./assets/Cormorant-Regular.woff2") format("woff2"); 
}

@font-face {
    font-family: "Cormorant Medium";
    src: url("./assets/Cormorant-Medium.woff2") format("woff2"); 
}

@font-face {
    font-family: "Cormorant SemiBold";
    src: url("./assets/Cormorant-SemiBold.woff2") format("woff2"); 
}

@font-face {
    font-family: "Cormorant Bold";
    src: url("./assets/Cormorant-Bold.woff2") format("woff2"); 
}

body {
    margin: 0 auto;
    background: white;
}

.eaves {
    position: absolute;
    height: 5.5rem;
    width: 100%;
    background-color: rgba(78, 68, 58, 1);
    box-shadow: 0px 639px 10px rgba(78, 68, 58, 0.1);
    z-index: 1;
}

.floor {
    position: absolute;
    height: 50rem;
    width: 100%;
    background: rgb(43,29,13);
    background: linear-gradient(0deg, rgba(43, 29, 13, 1), rgba(101, 74, 43, 0.7552), rgba(192, 166, 136, 0.5));
    opacity: 0.8;
    margin-top: 40.1rem;
    z-index: 1;
}

.shoji-one {
    position: absolute;
    height: 43.5rem;
    width: 22rem;
    background-color: rgba(255, 253, 245, 0.8);
    border: 12pt solid rgba(83, 67, 49, 1);
    margin: 0;
    z-index: 3;
}

.shoji-two {
    position: absolute;
    height: 43.5rem;
    width: 22rem;
    background-color: rgba(255, 253, 245, 0.8);
    border: 12pt solid rgba(83, 67, 49, 1);
    margin-left: 88rem;
    z-index: 3;
}

nav {
    position: absolute;
    font-family: "Cormorant Regular";
    color: rgba(83, 67, 49, 1);
    text-shadow: 1px 15px 20px rgba(83, 67, 49, 1);
    font-size: 20pt;
    display: flex;
    text-align: center;
    justify-items: center;
    z-index: 4;
}

ul {
    list-style: none;
    margin-top: -23rem;
    margin-left: 94.5rem;
    line-height: 7rem;
}

a {
    color: rgba(83, 67, 49, 1);
}

.hover:hover {
    font-family: "Cormorant Bold";
    text-shadow: 1px 20px 20px rgba(83, 67, 49, 1);
    font-size: 25pt;
}

h2 {
    position: relative;
    font-family: "Cormorant Regular";
    color: rgba(83, 67, 49, 1);
    text-shadow: 1px 15px 20px rgba(83, 67, 49, 1);
    font-size: 20pt;
    line-height: 25pt;
    padding-top: 14.5rem;
    padding-left: 11rem;
    z-index: 4;
}

section {
    position: relative;
    width: 42rem;
    color: rgba(43, 29, 13, 1);
    font-size: 20pt;
    margin: auto;
    z-index: 3;
}

p {
    margin: auto;
    display: flex;
    text-align: center;
    justify-items: center;
}

#light {
    font-family: "Cormorant Light";
    opacity: 0.6;
    margin-top: -22rem;
    line-height: 4.5rem;
}

#regular {
    font-family: "Cormorant Regular";
    opacity: 0.7;
    line-height: 4rem;
}

#medium {
    font-family: "Cormorant Medium";
    opacity: 0.8;
    line-height: 3.5rem;
}

#semibold {
    font-family: "Cormorant SemiBold";
    opacity: 0.9;
    line-height: 3rem;
}

#bold {
    font-family: "Cormorant Bold";
    line-height: 2.5rem;
}

@media only screen and (max-width: 812px) {
    .eaves {
        display: none;
    }
    
    .floor {
        height: 18.5rem;
        margin-top: 54.5rem;
    }
    
    .shoji-one {
        margin-top: 22rem;
        height: 38rem;
        width: 7rem;
        border: 5pt solid rgba(83, 67, 49, 1);
    }
    
    nav {
        font-size: 13pt;
        text-shadow: 1px 10px 20px rgba(83, 67, 49, 0.5);
    }
    
    ul {
        margin-top: 26rem;
        margin-left: -0.7rem;
        line-height: 7rem;
    }

    .hover:hover {
        text-shadow: 1px 10px 20px rgba(83, 67, 49, 1);
        font-size: 15pt;
    }
    
    h2 {
        position: absolute;
        color: white;
        text-shadow: 0px 0px 25px white;
        font-size: 10pt;
        line-height: 13pt;
        margin-top: 49rem;
        margin-left: -9rem;
    }
    
    section {
        width: 87%;
        font-size: 10pt;
    }

    p {
        margin-left: 8rem;
        display: flex;
        text-align: center;
        justify-items: center;
    }
    
    #light {
        padding-top: 23rem;
        line-height: 1.5rem;
    }
    
    #regular {
        line-height: 1.4rem;
    }
    
    #medium {
        line-height: 1.3rem;
    }
    
    #semibold {
        line-height: 1.2rem;
    }
    
    #bold {
        line-height: 1rem;
    }
}